@model IEnumerable<string>

@{
    ViewBag.Title = "ListNames";
}
@Html.Partial("SecuritySubMenu")
<h2>List with Names</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item
        </td>
    </tr>
}

</table>
@Html.ActionLink("Back to Attendees page", "Index") 