@{
    ViewBag.Title = "About";
}
<h2>About this site</h2>

<h3>About this site</h3>
<p>
    You should have seen on the @Html.ActionLink("Home Page", "Index") a brief introduction to the site.
    The site is here as a testing bed/demonstration of the <a href="https://github.com/JonPSmith/GenericServices" target="_blank">GenericServices library</a>
    and a number of software patterns specific to ASP.NET MVC. All the work here is open source under the
    <a href="http://opensource.org/licenses/MIT" target="_blank">MIT licence</a>.
</p>
<p>
    The @Html.ActionLink("Introduction to GenericServices", "CodeView") page goes into more detail about GenericServices library and some of the
    items demonstrated on this web site. I also suggest you look at GenericServices's
    <a href="https://github.com/JonPSmith/GenericServices/blob/master/README.md" target="_blank">read.me</a> file which gives more information.
</p>

<h3>Documentation</h3>
<ul>
    <li>
        The <a href="https://github.com/JonPSmith/GenericServices/wiki" target="_blank">GenericServices Wiki</a>
        now contains comprehensive documentation on GenericServices.
    </li>
    <li>A new, more complex example is now available at <a href="http://complex.samplemvcwebapp.net/">Complex.SampleMvcWebApp</a>.</li>
</ul>

<h3>Related articles</h3>
<p>
    I have written a number of articles/blog posts which relate to this site. They are:
</p>
<ul>
    <li>
        <a href="http://www.thereformedprogrammer.net/alpha-release-of-genericservices/" target="_blank">
            Alpha release of GenericServices
        </a> on my own blog site.
    </li>
    <li>
        <a href="https://www.simple-talk.com/dotnet/.net-framework/catching-bad-data-in-entity-framework/" target="_blank">
            Catching Bad Data in Entity Framework
        </a> on Simple Talk site.
    </li>
    <li>
        <a href="https://www.simple-talk.com/dotnet/.net-framework/the-.net-4.5-asyncawait-commands-in-promise-and-practice/" target="_blank">
            The performance of async/await in Entity Framework 6 and ASP.NET MVC5
        </a> on Simple Talk site.
    </li>
    <li>
        <a href="https://www.simple-talk.com/dotnet/.net-framework/using-entity-framework-with-an-existing-database-data-access/" target="_blank">
            Using Entity Framework With an Existing Database: Data Access
        </a> on Simple Talk site
    </li>
    <li>
        <a href="https://www.simple-talk.com/dotnet/asp.net/using-entity-framework-with-an-existing-database--user-interface/" target="_blank">
            Using Entity Framework with an Existing Database: User Interface
        </a> on Simple Talk site.
    </li>
</ul>
<p>
    The last article in particular provides a good architectural overview of a MVC web site built Entity Framework and GenericServices.
</p>
<br />
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
