@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>
<h3>About the Author</h3>
<p>
    The author of this open-source project is Jon Smith.
    You may also be interested in my technical blog, <a href="http://www.thereformedprogrammer.net/" target="_blank">www.thereformedprogrammer.net</a>.
    The site <a href="http://selectiveanalytics.com/" target="_blank">Selective Analytics</a> shows some of the analytical work I have done with my wife,
    Dr Honora Smith.
</p>
<p>
    You can find out more about me via my <a href="http://uk.linkedin.com/pub/jon-smith/0/327/97a">LinkedIn page</a>
    or my <a href="http://www.thereformedprogrammer.net/about-me/" target="_blank">about me</a> page on my blog site.
</p>
<p>
    You can contact me through my <a href="http://www.thereformedprogrammer.net/">Technical Blog Site</a>.
    I am available for short to medium term contracts as both a software architect and developer.
</p>