<?xml version="1.0" encoding="utf-8"?>

<!--
    INFORMATION ON DEPLOYING DATABASES TO WEBWIZ
    
    WebWiz does not allow create database, so you cna't use drop/create
    You therefore have to deploy the databases, JonSmith_smwaDb and JonSmith_smwaUsers, to WebWiz. 
    To do this you need to follow the steps below for each database:
    1. Create the database via WebsitePanel
    2. Click "Database Tools" link next to the new database
    3. Click "Management" folder (bottom left) and then "Restore database"
    4. Click "Restore Database" on left
    5. Select the database from a dropdown list at the top
    6. Check the details and click "OK" Button
    7. Click the lowest backup from the list in part 3 and click "OK" (or load new backup if format changes)
    8. Click "Restore" button at step 5
       This changes the security so you need to allocate the users to it
    9. Back in WebsitePanel click the name of the database
    10. Select the jonsmith_smwa users to be linked to this database and hit "OK" (NOT ada1 etc.)
    11. Go via MSSMS and run the script to alter the Ada1 ect users and link to logins
  -->

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <applicationSettings xdt:Transform="Replace">
    <SampleWebApp.Properties.Settings>
      <!--
      This sets the host type that the release will run on (used for setting appropriate logging etc.)
      -->
      <setting name="HostTypeString" serializeAs="String">
        <value>WebWiz</value>
      </setting>
      <setting name="DatabaseLoginPrefix" serializeAs="String">
        <value>jonsmith_</value>
      </setting>
    </SampleWebApp.Properties.Settings>
  </applicationSettings>
</configuration>